#tabel1 {
    /* border: 1px red solid; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;

}
#tabel1 tr td, #tabel1 tr th {
    border: 1px blue double;
    padding: 15px;
}
 #tabel1 tr th { 
    color: red;
    background-color: rgba(0, 0, 0, 0.69);
 } 
#tabel1 tr:nth-child(2n){
    background-color: rgba(220, 146, 50, 0.511);
}
#tabel1 tbody tr:nth-child(2n+1){
    background-color: rgba(42, 56, 165, 0.645);
}
#tabel1 tfoot tr {
    background-color: rgba(47, 79, 79, 0.777);
    color: white;
}
