
body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
/* START HEADER */
.logo {
    width: 100%;
    max-width: 300px;
    float: left;

}
#logo {
    width: 130px;
    margin-left: 5px;
}
nav {
    width: 100%;
    
}
nav ul {
    height: 30px;
    background-color: darkslategrey;
    padding: 60px 0;
    
}
nav ul li {
    display: inline;
    padding: 20px 25px;
    list-style-type: none;
    transition: transform 0.3s ease-in-out;
    
}
nav ul li:hover, nav ul li.active{
  
    background-color: rgba(72, 155, 155, 0.745);
    
  
}
/* .active{
background-color: rgba(27, 78, 78, 0.75) */
    nav ul li a:hover {
        color: rgb(255, 217, 63);
    }
nav ul li a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
/* END HEADER */
/* START BANNER */
#banner{
    width: 100%;
    height: 600px;
    background-image: url(../images/car.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    
    
}
.titlu {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    
    /* position: absolute; */
    /* left: 45%; */
    /* top: 50%; */
}


/* END BANNER */
/* START MAIN */
.titlu1 {
    width: 100%;
    text-align: center;
}
/* 
.container-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: auto;
    padding-top: 30px;
  
}
    /*  */

    #banner1 {
        position: relative;
        background-image: url(../images/car-text.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 75px;
    }
    .text-container {
        background-color: rgba(0, 0, 0, 0.616);
        color: white;
        padding: 20px;
        border-radius: 8px;
        max-width: 1000px;
        text-align: center;
        
    }
    .text-container p {
        margin: 0;

    }
.columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.fancy-list {
    width: 45%;
    list-style: none;
    padding: 0;
    background-color: rgba(47, 79, 79, 0.756);
    border-radius: 8px;
    margin: 55px;

}
.fancy-list li {
    padding: 10px;
    border-bottom: 1px solid #bbb;
    text-align: center;
}
.fancy-list li:last-child {
    border-bottom: none;
}

.container{
    width: 100%;
    
    margin: 20px 0px;
    padding: 10px 30px;
    align-items: center;



}
.galerie {
    width: 100%;
    text-align: center;
}
#foto{
   
    justify-content: center;
  
    width: 100%;
    max-width: 1100px;
    margin: 50px;
    background-color: darkslategray;
    
}
#foto img.foto{
    display: inline-block;
    margin: 5px 5px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.container img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;

}
.container img:hover{
    opacity: 1;
    transform: scale(1.05);
}
/* LIST STYLE */

/* MEDIA START */
@media (max-width: 768px) {
    #banner {
        height: auto; 
        padding: 20px;
    }

    .text-container {
        max-width: 90%; 
    }

    .titlu1 {
        font-size: 22px; 
    }
}
/* MEDIA END */
/* FOOTER STARTS */
.footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid rgb(229, 238, 234);
    padding-bottom: 5px;
}
/* FOOTER ENDS */
